.contenedor {
  min-height: 90vh;
  align-items: start;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  margin: auto;
  display: grid;
  gap: 20px;
  width: 80vw;
  grid-template-columns: repeat(3, 1fr);
}

.contenedor p {
  font-size: 0.9em;
  color: white;
}

.tarjetas {
  min-height: 620px;
  max-height: 900px;
  transition: transform 0.2s ease;
}

.tarjetas:hover {
  transform: scale(1.02);
}

.botones{
  gap: 20px;
}

@media screen and (max-width: 600px) {
  main {
    width: 100%;
    align-items: center;
  }

  .contenedor {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 20px;
    min-height: 100vh;
    padding: 8px;
    width: 100%;
  }

  .tarjetas {
    min-height: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .contenedor {
    grid-template-columns: 1fr;
  }

  
}